body {
    font-family: 'Times New Roman', serif;
    background-image: url('imagenes/FondoEleccion.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #d4d4d4;
    margin: 0;
    padding: 0;
    text-align: center;
}

.container {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    max-width: 1200px;
    margin: 50px auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

h1 {
    font-size: 36px;
    color: #f4f4f4;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    margin-bottom: 30px;
}

.personajes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.personaje {
    background-color: rgba(50, 50, 50, 0.9);
    border: 1px solid #555;
    border-radius: 10px;
    padding: 20px;
    width: 220px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.personaje:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}

.personaje img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
    border: 2px solid #666;
}

.personaje h2 {
    font-size: 20px;
    color: #f4f4f4;
    margin: 10px 0;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

.personaje p {
    font-size: 16px;
    margin: 5px 0;
    color: #d4d4d4;
}

button {
    background-color: #5a3d2b;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

button:hover {
    background-color: #7a523d;
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}