
body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', serif;
    background-image: url('imagenes/fondoVendor.png'); 
    background-size: cover; 
    background-attachment: fixed; 
    background-position: center;
    background-repeat: no-repeat;
    color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    width: 90%;
    max-width: 1200px;
}


.container h1 {
    font-size: 36px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}


.objetos {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}


.objeto {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 15px;
    border-radius: 10px;
    width: 30%;
    max-width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}


.objeto img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin-bottom: 10px;
}


.objeto h2 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #e0d6c6;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}


.objeto p {
    font-size: 14px;
    margin-bottom: 10px;
    color: #d4c6b6;
}


.objeto button {
    background-color: #5a3d2b;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
}


.objeto button:hover {
    background-color: #7a523d;
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.7);
}


.boton-lobby {
    margin-top: 20px;
    text-align: center;
}

.boton-lobby button {
    background-color: #5a3d2b;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
}


.boton-lobby button:hover {
    background-color: #7a523d;
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.7);
}