body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', serif;
    background-image: url('imagenes/FondoeleccionVendor.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    width: 80%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container h1 {
    font-size: 36px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}

.vendedores {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.vendedor {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 30px;
    border-radius: 10px;
    width: 40%;
    max-width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.vendedor img {
    width: 300px;
    height: 300px;
    object-fit: contain;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 2px solid #555;
}

.vendedor h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #e0d6c6;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}

.vendedor p {
    font-size: 16px;
    margin-bottom: 15px;
    color: #d4c6b6;
}

.vendedor button {
    background-color: #5a3d2b;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
}

.vendedor button:hover {
    background-color: #7a523d;
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.7);
}